{# pdf/attestation.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Attestation</title>
    <style>
        /* Add your styles here */
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <h1>Attestation</h1>
    </header>

    <main>
        <p>This is to certify that <strong>{{ etudiant.full_name }}</strong> has completed the training in:</p>
        <ul>
            {% for formation in formations %}
                <li>{{ formation.module.title }} on {{ formation.dateCompletion|date('Y-m-d') }}</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        <p>Date of Issue: {{ "now"|date('Y-m-d') }}</p>
        <p>Signature: ____________</p>
    </footer>
</body>
</html>
